.controle-container {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
}

.controle-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.controle-title {
    margin-bottom: 40px;
    color: var(--text-primary);
    text-transform: uppercase;
}

.controle-grid{
    width: 60%;
}

.controle-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 20px;
}

.controle-cards span{
    background-color: var(--surface-white);
    border:1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
    border-radius: 8px;
    padding: 32px 16px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-primary);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.controle-cards span:hover{
    background-color: var(--primary-color);
    color: var(--surface-white);
    transform: translateY(-4px);
}

.controle-actions {
    width: 100%;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.controle-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 8px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.controle-row .row-text{
    font-size: 0.95rem;
    color: var(--text-primary);
    font-weight: 600;
    letter-spacing: 0.03em;
    transition: transform 0.3s ease-in-out;
}

.controle-row .icon-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--text-primary);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* hover effects */
.controle-row:hover {
    border-bottom-color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.01);
}

.controle-row:hover .row-text {
    transform: translateX(8px);
    color: var(--primary-color);
}

.controle-row:hover .icon-add {
    background-color: var(--primary-color);
    color: var(--surface-white);
    transform: rotate(90deg);
}