/* form styling */
.conteudo-container form {
    width: 100%;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px; 
    font-size: 0.9rem;
    color: var(--text-primary); 
    text-transform: uppercase;
    font-weight: 500;
}

.form-group input,
.form-group select,.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1.5px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit
}

.form-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.form-group input::placeholder,
.form-group textarea::placeholder, .form-group select:invalid {
    color: var(--text-secondary);
    opacity: 0.7;
    font-size: 0.9rem;
}

.form-group select option {
    color: var(--text-primary);
}

.form-group input[type="date"]:invalid {
    color: var(--text-secondary);
}